.Users {
  text-align: center;
}

.Users-logo {
  animation: Users-logo-spin infinite 20s linear;
  height: 80px;
}

.Users-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Users-intro {
  font-size: large;
}

@keyframes Users-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
